.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* colonne 1-12 */
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* colonne-x */
@media screen and (min-width: 720px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .col-xl-2 {
    width: 16.66667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333%;
  }
  .col-xl-5 {
    width: 41.66667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333%;
  }
  .col-xl-8 {
    width: 66.66667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333%;
  }
  .col-xl-11 {
    width: 91.66667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}

/* Small Reset */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: 'poppins', sans-serif;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 auto;
}

p {
  color: #777777;
  font-weight: 300;
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Mise en forme correcte des Form/Boutons dans Safari */
input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.l-main-header {
  margin: 0;
  padding: 0;
}

.l-main-header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
}

.l-main-logo {
  max-width: 133px;
  max-height: 30px;
}

.l-main-header-hamburger img {
  width: 2rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-main-nav {
  display: none;
}

.l-main-nav a {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.l-main-nav .is-active-menu {
  color: #8490ff;
}

.l-main-nav ul {
  padding: 0;
  margin: 0;
}

.l-main-nav li {
  border-bottom: 1px solid #8490ff;
}

.l-main-nav li:last-child {
  border-bottom: none;
}

.l-main-nav.is-active {
  background: #fff;
  display: block;
  position: absolute;
  top: 72px;
  right: 0;
  background: #f7f7fd;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 10;
}

@media screen and (min-width: 720px) {
  html {
    font-size: 14px;
  }
  .l-main-header-hamburger {
    display: none;
  }
  .l-main-header-flex {
    padding: 1rem;
  }
  .l-main-logo {
    width: 7.5rem;
    height: auto;
  }
  .l-main-nav {
    display: block;
  }
  .l-main-nav li {
    display: inline-block;
    border-bottom: none;
  }
  .l-main-nav a {
    color: #000000;
    letter-spacing: 0;
    padding: 0;
    padding-left: 1rem;
    font-size: 12px;
    font-weight: 500;
  }
  .l-main-nav a:hover {
    color: #8490ff;
  }
}

@media screen and (min-width: 1024px) {
  .l-main-header-flex {
    padding: 1.5rem 1rem;
  }
  .l-main-logo {
    width: 9rem;
    height: auto;
  }
}

.m-section-presentation h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

.m-section-presentation .img-container {
  width: 65%;
  height: auto;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.m-section-presentation-me {
  background: #f7f7fd;
}

.m-section-presentation-me h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.m-section-presentation-me .presentation-me-text {
  padding-top: 3rem;
}

.m-section-presentation-aboutme .img-container {
  width: 100%;
  padding-top: 8rem;
}

.m-section-presentation-aboutme h1 {
  letter-spacing: 0;
}

.m-section-presentation-aboutme h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
}

.m-section-presentation-aboutme p {
  padding: 1rem 0;
}

.m-section-button {
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(to right, #8490ff, #62bdfc);
  width: 11rem;
  height: 2.8rem;
  text-align: center;
}

.m-section-button a {
  height: 2.8rem;
  line-height: 2.8rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  display: block;
}

.m-section-services-offer {
  padding: 6rem 1rem;
  text-align: center;
}

.m-section-services-offer h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 0;
}

.m-section-services-offer h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.m-section-services-offer i {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.m-services-offer-item {
  padding: 2.5rem 0;
}

.m-section-services-counter {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(to right, #8490ff, #62bdfc);
  padding: 7rem 0;
}

.m-services-counter-item {
  padding: 2rem 0;
}

.m-services-counter-item p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.m-services-counter-item .counter-item-text {
  font-size: 3rem;
  font-weight: 700;
}

.m-section-latestProjects {
  padding: 6rem 0;
  text-align: center;
}

.m-section-latestProjects h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 0;
}

.m-section-latestProjects h2 {
  font-weight: 600;
  margin-bottom: 0;
}

.m-section-latestProjects h3 {
  padding-bottom: 8rem;
  font-weight: 300;
  color: #777777;
  font-size: 1rem;
}

.m-section-latestProjects p {
  margin: 0;
  padding-bottom: 2rem;
}

.m-section-latestPosts {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: #f7f7fd;
  text-align: center;
}

.m-section-latestPosts h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.5rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.m-section-latestPosts h2 {
  text-transform: uppercase;
  font-weight: 600;
}

.m-section-latestPosts a {
  color: #000000;
}

.m-section-latestPosts .latestPosts-subtitle {
  padding-bottom: 6rem;
  font-weight: 300;
  color: #777777;
}

.m-latestPosts-article {
  text-align: left;
}

.m-latestPosts-article p {
  font-size: 16px;
}

.m-latestPosts-article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 0;
  font-size: 14px;
}

.m-latestPosts-article-info h3 {
  margin: 0;
  padding-left: .5rem;
}

.m-latestPosts-article-info i {
  color: #777777;
  padding-left: 1rem;
}

.m-latestPosts-article-info p {
  margin: 0;
  padding-left: .3rem;
}

.m-latestPosts-article-info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.m-latestPosts-article-info img {
  width: 2rem;
  height: 2rem;
}

.m-latestPosts-article-info .article-info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-latestPosts-article-info .article-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-latestPosts-article-line {
  width: 100%;
  height: 1px;
  display: block;
  background: #c4c4c4;
  opacity: 0.4;
  margin-bottom: 1.5rem;
}

.m-section-sponsors {
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(to right, #8490ff, #62bdfc);
  padding: 7rem 0;
  text-align: center;
}

.m-section-sponsors h1 {
  display: none;
}

.m-section-sponsors img {
  width: 10rem;
  height: auto;
}

.m-section-sponsors .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-section-sponsors ul {
  margin: 0;
  padding: 0;
}

.m-section-sponsors-hide {
  display: none;
}

@media screen and (min-width: 720px) {
  .m-section-presentation h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
  .m-section-presentation-me {
    padding-top: 3rem;
  }
  .m-section-presentation-me .img-container {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .m-section-presentation-me img {
    width: 100%;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .m-section-presentation-me .presentation-me-text {
    padding-top: 3rem;
  }
  .m-section-presentation-aboutme {
    padding-top: 5rem;
  }
  .m-section-presentation-aboutme h2 {
    margin: 0;
  }
  .m-section-presentation-aboutme .img-container {
    padding: 0;
    width: 90%;
    height: 100%;
  }
  .m-section-services-offer {
    padding: 4rem 1rem;
  }
  .offered-services-subtitle {
    margin: 1rem 5rem;
  }
  .m-services-offer-all {
    padding-top: 2rem;
  }
  .m-services-offer-item {
    padding: 2rem;
  }
  .m-section-services-counter {
    padding: 5rem 0;
  }
  .m-section-services-counter .counter-item-text {
    font-size: 2rem;
  }
  .m-section-latestProjects h3 {
    padding-bottom: 6rem;
  }
  .m-section-latestProjects .m-latestProjects-item {
    padding: .7rem;
  }
  .m-section-latestPosts {
    padding-bottom: 6rem;
  }
  .m-latestPosts-article {
    padding: .7rem;
  }
  .m-latestPosts-article-info h3 {
    font-size: 12px;
  }
  .m-latestPosts-article-info p {
    font-size: 12px;
  }
  .m-latestPosts-article-info i {
    padding-left: .5rem;
  }
  .m-section-sponsors {
    padding: 5rem 0;
    text-align: center;
  }
  .m-section-sponsors-all .m-section-sponsors-hide {
    display: block;
  }
  .m-section-sponsors-all ul {
    margin: 0;
    padding: 0;
  }
  .m-section-sponsors-all li {
    display: inline-block;
    height: auto;
    padding: 0 1.5rem;
  }
  .m-section-sponsors-all img {
    max-width: 7rem;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .offered-services-subtitle {
    margin: 1rem 18rem;
  }
  .m-section-services-counter {
    padding: 7rem 0;
  }
  .m-section-services-counter .counter-item-text {
    font-size: 2.5rem;
  }
  .m-section-latestProjects .m-latestProjects-item {
    padding: 1rem;
  }
  .latestPosts-subtitle {
    margin: 0 11rem;
    padding-top: 1.5rem;
  }
  .m-section-sponsors-all li {
    padding: 0 3.5rem;
  }
}

.l-main-footer {
  background: #05071C;
  padding: 6rem 0;
}

.l-main-footer a {
  color: #8490ff;
}

.l-main-footer-item h2 {
  font-size: 1.3rem;
  color: #fff;
  padding-top: .5rem;
  font-weight: 500;
}

.l-main-footer-social i {
  color: #8490ff;
  font-size: 1.5rem;
  padding-right: 1rem;
}

.l-main-footer-copyright {
  text-align: center;
}

.l-footer-form .l-footer-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
}

.l-footer-form .l-footer-form-85 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.l-footer-form .l-footer-form-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.l-footer-form .l-footer-form-mail {
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
  border: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}

.l-footer-form .l-footer-form-submit {
  border: 0;
  height: 100%;
  width: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(to right, #8490ff, #62bdfc);
  color: #fff;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 720px) {
  .l-main-footer-item {
    padding: 0 2rem;
  }
  .l-main-footer-copyright {
    margin: 0 auto;
    padding-top: 2rem;
    opacity: 0.8;
  }
}
/*# sourceMappingURL=screen.css.map */