// Page Blog - CSS

// Mixin générique ligne blog
.m-blog-line{
    @include mix-infos-underline;
}

// Blog - General 
.m-main-blog{
    background: $blogBackground;
}

.m-main-blog .wrap{
    padding: 0;
}

//Banner Blog
.m-blog-banner-background{
    position: relative;
    text-align: center;
    background-image: url("../img/blog/blog-home-banner.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 13rem 1rem;

    h1{
        font-weight: 600;
        font-size: 2rem;
        color: $bannerText;
        margin: 0;
        position: relative;
    }

    p{
        color: $bannerText;
        position: relative;
    }

    .m-section-button-blog{
        @include mix-section-button-blog;
        position: relative;
    }
}

// Opacité du Banner Blog via rgba
.m-blog-banner-background::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

// Blog Category - M-blog-category
.m-blog-category{
    padding: 4rem 0;
}

.m-blog-category-container{
    padding: 2rem 1rem;
}

.m-blog-category-item{
    background-image: url("../img/blog/cat-widget1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14rem;
    position: relative;

    .category-content{
        background: rgba(0,0,0,0.8);
        position: absolute;
        margin: 1.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        h3{
            color: $categoryColor;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0
        }

        p{
            color: $categoryColor;
            font-size: 1rem;
            margin: 0;
        }

        .m-category-line{
            @include mix-blog-underline;
        }
    }
}

// modification des images des 2 autres catégories & .m-blog-category-item
.category-item-2{
    background-image: url("../img/blog/cat-widget2.jpg");
}

.category-item-3{
    background-image: url("../img/blog/cat-widget3.jpg");
}

// m-blog-article-section
.m-blog-article-section{
    padding: 0 1rem;
}

.article-aside-flex{
    display: flex;
    flex-flow: row wrap;

    p{
        flex-basis: 50%;
        margin: 0;
        padding: .5rem 0;
    }

    time{
        flex-basis: 50%;
        font-weight: 300;
        color: $text;
        padding: .5rem 0;
    }

    //Ajout des icones via CSS avec la propriété ::after
    time::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f073";
        color: $blogIcon;
    }

    .article-aside-author::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f007";
        color: $blogIcon;
    }

    .article-aside-views::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f06e";
        color: $blogIcon;
    }

    .article-aside-comments::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f075";
        color: $blogIcon;
    }
}

.m-blog-article-content{

    h2{
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 2rem;
    }

    .m-section-button-blog{
        @include mix-section-button-blog;
        margin: 0;
        margin-bottom: 2rem;
    }
}

// Mini Nav changement page - Section article
.m-blog-nav{
    text-align: center;
    
    li{
        display: inline-block;
    }

    a{
        color: $text;
        padding: 0 .5rem;
    }

    a:hover{
        font-weight: 500;
        color: $blogIcon;
    }

    .is-active{
        display: block;
        background: $bannerBg1;
        color: $buttonBlog;
        padding: .3rem .8rem;
    }

    .is-active:hover{
        color: $buttonBlog;
    }
}

// Partie Aside - m-blog-aside
.m-blog-aside{
    border: 1px solid $blogBorder;
    margin: 0 1rem;
}

.m-blog-search{
    
    .m-blog-form{
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: $bannerBg1;
        border-radius: 3rem;
        padding: .7rem 1.5rem;
        margin: 2rem;
        box-sizing: content-box
    }

    .m-blog-form-input{
        border: none;
        border-radius: 3rem;
        background: $bannerBg1;
        color: $buttonBlog;
        font-family: 'poppins', sans-serif;
        width: 90%;
        font-size: 1rem;
    }

    .m-blog-form-input::placeholder{
        color: white;
        opacity: 1;
    }

    i{
        color: $buttonBlog;
        width: 10%;
        text-align: right;
        padding-left: .5rem;
    }
}

// Blog - Userinfos
.m-blog-userInfo{
    text-align: center;

    .m-blog-userInfo-picture{
        width: 9rem;
        height: auto;
    }

    .userNameInfos{
        font-size: 1.3rem;
        text-transform: capitalize;
        color: $blogTitle;
        font-weight: 600;
        margin-bottom: 0;
    }

    .userNameTitle{
        margin-top: 0;
    }
}

// MediaQueries - Tablette Version - Min 720px
// MediaQueries - Page Blog
@media screen and (min-width: 720px){
    .m-blog-banner-background{
        padding: 17rem 0;
    }

    .m-blog-category-item{
        width: 100%;
        height: 10rem;
    }

    .m-blog-article-aside{
        text-align: right;
        padding-right: 2rem;
    }

    .article-aside-flex{
        display: flex;
        flex-flow: column wrap;
    }

    .m-blog-banner h1{
        font-size: 3rem;
        max-width: 32rem;
        margin: 0 auto;
    }
}

// MediaQueries - PC Version - Min 1024px
// MediaQueries - Page Blog
@media screen and (min-width: 1024px){
    .m-blog-category-item{
        width: 100%;
        height: 13rem;
    }
}