// Page Blog - CSS

// Mixin générique ligne blog
.m-blog-line{
    @include mix-infos-underline;
}

// Blog - General 
.m-main-blog{
    background: $blogBackground;
}

.m-main-blog .wrap{
    padding: 0;
}

//Banner Blog
// Optimisation de l'image de fond Background-Image par l'utilisation de 3 résolutions différentes via MediaQueries (pas d'utilisation de Src-set car mis dans le css et pas img)
.m-blog-banner-background{
    position: relative;
    text-align: center;
    background-image: url("../img/blog/blog-home-banner-720w.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 13rem 1rem;

    h1{
        font-weight: 600;
        font-size: 2rem;
        color: $bannerText;
        margin: 0;
        position: relative;
    }

    p{
        color: $bannerText;
        position: relative;
    }

    .m-section-button-blog{
        @include mix-section-button-blog;
        position: relative;
    }
}

// Opacité du Banner Blog via rgba
.m-blog-banner-background::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
}

// Blog Category - M-blog-category
.m-blog-category{
    padding: 4rem 0;
}

.m-blog-category-container{
    padding: 2rem 1rem;
}

.m-blog-category-item{
    background-image: url("../img/blog/cat-widget1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 14rem;
    position: relative;

    .category-content{
        background: rgba(0,0,0,0.8);
        position: absolute;
        margin: 1.5rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;

        h3{
            color: $categoryColor;
            text-transform: uppercase;
            font-weight: 600;
            margin: 0
        }

        p{
            color: $categoryColor;
            font-size: 1rem;
            margin: 0;
        }

        .m-category-line{
            @include mix-blog-underline;
        }
    }
}

// modification des images des 2 autres catégories & .m-blog-category-item
.category-item-2{
    background-image: url("../img/blog/cat-widget2.jpg");
}

.category-item-3{
    background-image: url("../img/blog/cat-widget3.jpg");
}

// m-blog-article-section
.m-blog-article-section{
    padding: 0 1rem;
}

.article-aside-flex{
    display: flex;
    flex-flow: row wrap;

    p{
        flex-basis: 50%;
        margin: 0;
        padding: .5rem 0;
    }

    time{
        flex-basis: 50%;
        font-weight: 300;
        color: $text;
        padding: .5rem 0;
    }

    //Ajout des icones via CSS avec la propriété ::after
    time::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f073";
        color: $blogIcon;
    }

    .article-aside-author::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f007";
        color: $blogIcon;
    }

    .article-aside-views::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f06e";
        color: $blogIcon;
    }

    .article-aside-comments::after{
        padding-left: .5rem;
        font-family: "Font Awesome 5 Free"; font-weight: 500; content: "\f075";
        color: $blogIcon;
    }
}

.m-blog-article-content{

    a{
        color: $blogTitle;
    }
    h2{
        font-size: 1.8rem;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 2rem;
    }

    .m-section-button-blog{
        @include mix-section-button-blog;
        margin: 0;
        margin-bottom: 2rem;
    }
}

// Mini Nav changement page - Section article
.m-blog-nav{
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 2rem;
    
    ul{
        padding: 0;
    }

    li{
        display: inline-block;
    }

    a{
        color: $text;
        padding: 0 .5rem;
    }

    a:hover{
        font-weight: 500;
        color: $blogIcon;
    }

    .is-active{
        display: block;
        background: $bannerBg1;
        color: $buttonBlog;
        padding: .3rem .8rem;
    }

    .is-active:hover{
        color: $buttonBlog;
    }
}

// Partie Aside - m-blog-aside
.m-blog-aside{
    border: 1px solid $blogBorder;
    margin: 0 1rem;
    margin-bottom: 8rem;
    padding: 0 2rem;
}

.m-blog-search{

    .m-blog-form{
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background: $bannerBg1;
        border-radius: 3rem;
        padding: .7rem 1.5rem;
        margin: 2rem 0;
        box-sizing: content-box
    }

    .m-blog-form-input{
        border: none;
        border-radius: 3rem;
        background: $bannerBg1;
        color: $buttonBlog;
        font-family: 'poppins', sans-serif;
        width: 90%;
        font-size: 1rem;
    }

    .m-blog-form-input::placeholder{
        color: white;
        opacity: 1;
    }

    i{
        color: $buttonBlog;
        width: 10%;
        text-align: right;
        padding-left: .5rem;
        cursor: pointer;
    }
}

// Blog - Userinfos
.m-blog-userInfo{
    text-align: center;
    padding: 1rem 0;

    .m-blog-userInfo-picture{
        width: 9rem;
        height: auto;
    }

    .userNameInfos{
        font-size: 1.3rem;
        text-transform: capitalize;
        color: $blogTitle;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .userNameTitle{
        margin-top: 0;
        padding-bottom: 0;
    }

    p{
        padding-bottom: 2rem;
    }

    i{
        color: $blogIcon;
        padding: 0 .6rem;

    }
    
    i:hover{
        color: $bannerBg1;
    }
}

// Blog - PopularPosts
.m-aside-title{
    background: $bannerBg1;
    text-align: center;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 2rem;

    h3{
    text-transform: capitalize;
    color: $categoryColor;
    font-weight: 600;
    }
}

.m-blog-popularPosts-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 0;


    .m-blog-item-photo{
        flex: 0 1 35%;
        padding-right: 1rem;
        box-sizing: content-box;
    }

    .m-blog-item-text{
        flex: 1 1 55%;
    }

    h4{
        margin: 0;
        font-weight: 600;
        line-height: 1.1rem;
        padding-bottom: .5rem;
        text-transform: capitalize;
        color: $blogTitle;
    }

    h4:hover{
        color: $bannerBg1;
    }

    p{
        margin: 0;
    }
}

.m-blog-popularPosts .m-blog-line{
    margin-top: 2rem;
}

// Blog - section Ad
.m-blog-ad-container{
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    text-align: center;
}

//Blog - section Post Categories
.m-blog-postCategories .m-blog-line{
    margin: 2rem 0;
}

.m-blog-postCategories-title{
    margin-bottom: .5rem;
}

.m-blog-postCategories-item{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    height: 3rem;
    border-bottom: 1px dashed $blogBorder;
}

//blog - section Newsletter
.m-blog-newsletter{
    text-align: center;
}

.m-blog-newsletter-title{
    margin: 2rem 0;
}

// Mise en page formulaire newsletter
.m-blog-newsletter-content{
    box-sizing: border-box;
}

.m-blog-newsletter-form{
    height: 45px;
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;
    position: relative;

    .m-newsletter-form-mail{
        font-family: 'poppins', sans-serif;
        background: none;
        font-size: 1rem;
        border: 2px solid $blogBorder;
        border-right: none;
        color: $blogForm;
        width: 60%;
        padding-left: 3rem;
        overflow: auto;
    }

    .m-newsletter-form-submit{
        border: none;
        font-family: 'poppins', sans-serif;
        font-size: .8rem;
        font-weight: 600;
        color: $bannerText;
        background: $bannerBg1;
        height: 100%;
        width: 40%;
        overflow: auto;
        cursor: pointer;
        box-sizing: border-box;
    }

    i{
        color: $text;
        padding-right: 1rem;
        font-size: 1.2rem;
        position: absolute;
        left: 1rem;
        top: .8rem;
        color: $blogForm;

    }
}

//blog - section Tag Clouds
.m-blog-tag{
    margin-bottom: 3rem;
}

.m-blog-tag-container{
    display: flex;
    flex-flow: row wrap;

    .m-blog-tag-item{
        border: 1px solid $blogBorder;
        padding: 0 1rem;
        height: 2rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        display: flex;
        align-items: center;
    }

    h5{
        margin: 0;
    }

    .m-blog-tag-item:hover{
        background: $bannerBg1;
        color: $categoryColor;
        cursor: pointer;
    }
}

// MediaQueries - Tablette Version - Min 720px
// MediaQueries - Page Blog
@media screen and (min-width: 720px){
    .m-blog-banner-background{
        padding: 15rem 0;
        background-image: url("../img/blog/blog-home-banner-1024w.jpg");
    }

    .m-blog-category-item{
        width: 100%;
        height: 10rem;
    }

    .m-blog-article-aside{
        text-align: right;
        padding-right: 2rem;
    }

    .article-aside-flex{
        display: flex;
        flex-flow: column wrap;
    }

    .m-blog-banner h1{
        font-size: 3rem;
        max-width: 32rem;
        margin: 0 auto;
    }

    .m-blog-newsletter-form{

        .m-newsletter-form-mail{
            width: 60%;
            padding-left: 3rem;
            overflow: auto;
        }
    
        .m-newsletter-form-submit{
            height: 100%;
            width: 70%;
            overflow: auto;
        }
    
        i{
            position: absolute;
            top: 1rem;
    
        }
    }
}

// MediaQueries - PC Version - Min 1024px
// MediaQueries - Page Blog
@media screen and (min-width: 1024px){
    .m-blog-category-item{
        width: 100%;
        height: 13rem;
    }

    //Newsletter
    .m-blog-newsletter-form{

        .m-newsletter-form-mail{
            width: 60%;
            padding-left: 3rem;
            overflow: auto;
        }
    
        .m-newsletter-form-submit{
            height: 100%;
            width: 40%;
            overflow: auto;
        }
    }

    //Banner résolution Maximum
    .m-blog-banner-background{
        background-image: url("../img/blog/blog-home-banner-1920w.jpg");
    }
}