// Footer Layout
//
// l-main-footer
.l-main-footer{
    background: $backgroundFooter;
    padding: 6rem 0;

    a{
        color: $bannerBg1;
    }
}

.l-main-footer-item{
    h2{
        font-size: 1.3rem;
        color: $titleFooter;
        padding-top: .5rem;
        font-weight: 500;
    }
}

.l-main-footer-social{
    i{
        color: $bannerBg1;
        font-size: 1.5rem;
        padding-right: 1rem;
    }
}

.l-main-footer-copyright{
    text-align: center;
}

// Formulaire Mail et Button type submit - Mise en page avec flex
.l-footer-form{

    .l-footer-form-flex{
        display: flex;
        height: 3rem;
    }

    .l-footer-form-85{
        flex: 1 1 auto;
    }

    .l-footer-form-15{
        flex: 0 0 auto;
    }

    .l-footer-form-mail{
        font-family: 'poppins', sans-serif;
        font-size: 1rem;
        border: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-left: 1rem;
    }

    .l-footer-form-submit{
        border: 0;
        height: 100%;
        width: 3rem;
        background: linear-gradient(to right, $submitForm1, $submitForm2);
        color: $color3;
        padding: 0;
        margin: 0;
    }
}

// MediaQueries - Footer
// MediaQueries - Tablette Version - Min 720px
@media screen and (min-width: 720px){
    .l-main-footer-item{
        padding: 0 2rem
    }

    .l-main-footer-copyright{
        margin: 0 auto;
        padding-top: 2rem;
        opacity: 0.8;
    }
}

// MediaQueries - Page Home - Desktop Version
@media screen and (min-width: 1024px){

}