// Header Layout 
.l-main-header{
    margin: 0;
    padding: 0;
}

// Flex Header
.l-main-header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0rem;

    .main-logoLink-flex{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

//Logo ISLWeb
.l-main-logo{
    max-width: 133px;
    max-height: 30px;
}

// Menu Hamburger - General
.l-main-header-hamburger{
    position: relative;

    img{
        width: 2rem;
        height: auto;
        display: flex;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
    }
}

// Menu Nav
// Menu Nav - Cache liens visibles en screen mobile + mise en forme liste
.l-main-nav{
    display: none;
}

.l-main-nav{
    a{
    text-decoration: none;
    color: $titleHeader;
    display: block;
    padding-bottom: 1.2rem;
    text-transform: uppercase;
    font-size: .9rem;
    }

    //Menu actif - colorisation
    .is-active-menu{
        color: $link;
    }

    ul{
        padding: 2rem 1rem;
        margin: 0;
    }
}

.l-main-nav.is-active{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: $backgroundHeader1;
    width: 75%;
    height: 100%;
    z-index: 1;
}

.l-main-nav.is-active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 150%;
    height: 100%;
    background: $backgroundHeader2;
    z-index: -1;
}

// MediaQueries
// MediaQueries - Tablette Version - Min 720px
@media screen and (min-width: 720px){
    html{
        font-size: 14px;
    }

    .l-main-header-hamburger{
        display: none;
    }

    .l-main-header-flex{
        padding: 1rem 0;
    }

    //Taille Logo ISLWeb
    .l-main-logo{
        width: 7.5rem;
        height: auto;
        }

    .l-main-nav{
        display: block;

        ul{
            padding: 0;
        }

        li{
            display: inline-block;
            border-bottom: none;
        }

        a{
            color: $nav;
            letter-spacing: 0;
            padding: 0;
            padding-left: 1rem;
            font-size: 12px;
            font-weight: 500;
        }

        a:hover{
            color: $link;
        }
    } 
}

// MediaQueries - Desktop Version - Rien car Header identique à la version tablette
@media screen and (min-width: 1024px){

    .l-main-header-flex{
        padding: 1.5rem 0rem;
    }

    //Taille Logo ISLWeb
    .l-main-logo{
        width: 9rem;
        height: auto;
        }
}