// Main Section
// M-Section-Presentation module
.m-section-presentation{
    h1{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .img-container{
        width: 65%;
        height: auto;
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
}

.m-section-presentation-me{
    background: $background1;

    h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }

    .presentation-me-text{
        padding-top: 3rem;
    }
}

.m-section-presentation-aboutme{
    .img-container{
        width: 100%;
        padding-top: 8rem;
    }

    h1{
        letter-spacing: 0;
    }

    h2{
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 600;
    }

    p{
        padding: 1rem 0;
    }
}

// Bouton section - Réalisé via Mixins 
.m-section-button{
    @include mix-section-button
}

// M-section-Services
// M-section-Services Offer
.m-section-services-offer{
    padding: 6rem 1rem;
    text-align: center;

    h1{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin-bottom: 0;
    }

    h2{
        font-weight: 600;
        font-size: 1.3rem;
    }

    i{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
}

.m-services-offer-item{
    padding: 2.5rem 0;
}

// M-section-services-counter
.m-section-services-counter{
    text-align: center;
    background: linear-gradient(to right, $bannerBg1, $bannerBg2);
    padding: 7rem 0;
}

.m-services-counter-item{
    padding: 2rem 0;

    p{
        color: $color3;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
    }

    .counter-item-text{
        font-size: 3rem;
        font-weight: 700;
    }
}

// M-section-latestProjects
.m-section-latestProjects{
    padding: 6rem 0;
    text-align: center;

    h1{
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin-bottom: 0;
    }

    h2{
        font-weight: 600;
        margin-bottom: 0;
    }

    h3{
        padding-bottom: 8rem;
        font-weight: 300;
        color: $text;
        font-size: 1rem;
    }

    p{
        margin: 0;
        padding-bottom: 2rem;
    }
}

// M-section-latestPosts
.m-section-latestPosts{
    padding-top: 6rem;
    padding-bottom: 10rem;
    background: $background1;
    text-align: center;

    h1{
        font-size: 3rem;
        font-weight: 600;
        line-height: 3.5rem;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    h2{
        text-transform: uppercase;
        font-weight: 600;
    }

    a{
        color: $title;
    }

    .latestPosts-subtitle{
        padding-bottom: 6rem;
        font-weight: 300;
        color: $text;
    }
}

// M-section-latestPosts - m-latestPosts-article / Mise en forme des articles
.m-latestPosts-article{
    text-align: left;

    p{
        font-size: 16px;
    }
}

// M-section-latestsPosts - Système d'infos d'article
.m-latestPosts-article-info{
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    font-size: 14px;

    h3{
        margin: 0;
        padding-left: .5rem;
    }

    i{
        color: $text;
        padding-left: 1rem;
    }

    p{
        margin: 0;
        padding-left: .3rem;
    }

    a{
        display: flex;
    }

    img{
        width: 2rem;
        height: 2rem;
    }

    .article-info-left{
        display: flex;
        align-items: center;
    }
    
    .article-info-right{
        display: flex;
        align-items: center;
    }
}

// Ligne en dessous des infos de l'article - Créé via mixin
.m-latestPosts-article-line{
    @include mix-infos-underline
}


// M-section-sponsors
.m-section-sponsors{
    background: linear-gradient(to right, $bannerBg1, $bannerBg2);
    padding: 7rem 0;
    
    h1{
        display: none;
    }

    img{
        width: 10rem;
        height: auto;
    }

    .wrap{
        display: flex;
        justify-content: center;
    }
}

.m-section-sponsors-item{
    display: flex;
}

// On cache les logos en vue mobile et on en laisse qu'un seul via une div et un display:none
.m-section-sponsors-hide{
    display: none;
}

// MediaQueries - Page Home
// MediaQueries - Tablette Version - Min 720px
@media screen and (min-width: 720px){
    //Section presentation
    .m-section-presentation{
        h2{
            text-transform: uppercase;
            font-size: 2.5rem;
        }
    }

    .m-section-presentation-me{
        padding-top: 3rem;

        .img-container{
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding: 0;
            display: flex;
        }

        img{
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
        }

        .presentation-me-text{
            padding-top: 3rem;
        }
    }

    //Section .m-section-presentation-aboutme
    .m-section-presentation-aboutme{
        padding-top: 5rem;

        h2{
            margin: 0;
        }

        .img-container{
            padding: 0;
            width: 90%;
            height: 100%;
        }
    }

    //Section - .m-section-services-offer
    .m-section-services-offer{
        padding: 4rem 1rem;
    }

    .offered-services-subtitle{
        margin: 1rem 5rem;
    }

    .m-services-offer-all{
        padding-top: 2rem;
    }

    .m-services-offer-item{
        padding: 2rem;
    }

    //Main - .m-section-services-counter
    .m-section-services-counter{
        padding: 5rem 0;

        .counter-item-text{
            font-size: 2rem;
        }
    }

    // Main - .m-section-latestProjects
    .m-section-latestProjects{
        h3{
            padding-bottom: 6rem;
        }

        .m-latestProjects-item{
            padding: .7rem;
        }
    }

    // Main - .m-section-latestPosts
    .m-section-latestPosts{
        padding-bottom: 6rem;
    }

    .m-latestPosts-article{
        padding: .7rem;
    }

    .m-latestPosts-article-info{
        
        h3{
            font-size: 12px;
        }

        p{
            font-size: 12px;
        }

        i{
            padding-left: .5rem;
        }
    }

    // Main - m-section-sponsors
    .m-section-sponsors{
        padding: 5rem 0;
        text-align: center;
    }

    .m-section-sponsors-all{
        .m-section-sponsors-hide{
           display: block;
        }

        ul{
            margin: 0;
            padding: 0;

        }

        li{
            display: inline-block;
            height: auto;
            padding: 0 1.5rem;
        }

        img{
            max-width: 7rem;
            height: auto;
        }
    }
}

// MediaQueries - Page Home - Desktop Version
@media screen and (min-width: 1024px){

    .offered-services-subtitle{
        margin: 1rem 18rem;
    }

    .m-section-services-counter{
        padding: 7rem 0;

        .counter-item-text{
            font-size: 2.5rem;
        }
    }

    .m-section-latestProjects{
        .m-latestProjects-item{
            padding: 1rem;
        }
    }

    .latestPosts-subtitle {
        margin: 0 11rem;
        padding-top: 1.5rem;
    }

    .m-section-sponsors-all{
        li{
            padding: 0 3.5rem;
        }
    }
}