// CSS générique devant s'appliquer sur l'intégralité du site
html{
    font-size: 16px;
}

body{
    font-family: 'poppins', sans-serif;
    max-width: 1140px;
    height: auto;
    margin: 0 auto;
}