// Mixins

// Mixins Bouton - m-section-button
@mixin mix-section-button{
    background: linear-gradient(to right, $bannerBg1, $bannerBg2);
    width: 11rem;
    height: 2.8rem;
    text-align: center;

    a{
        height: 2.8rem;
        line-height: 2.8rem;
        white-space: nowrap;
        text-transform: uppercase;
        font-size: 13px;
        color: $color3;
        font-weight: 500;
        display: block;
    }
}

// Mixins Underline - Ligne de sous-titres infos articles
@mixin mix-infos-underline{
    width: 100%;
    height: 1px;
    display: block;
    background: $underline;
    opacity: 0.4;
    margin-bottom: 2rem;
}