// Couleurs ISLWeb - Modifiable si nécessaire

//Base - Definie par client
$text: #777777;
$title: #222222;
$link: #8490ff;
$bannerBg1: #8490ff;
$bannerBg2: #62bdfc;
$btn1: #8490ff;
$btn2: #62bdfc;
$color3: #fff;

//Main Color
$nav: #222222;
$sectionPageTitle: #ffffff;
$background1: #f7f7fd;
$underline: #c4c4c4;

//Header Hamburger Color

$backgroundHeader1: rgba(0, 0, 0, 0.9);
$backgroundHeader2: rgba(0, 0, 0, 0.7);
$titleHeader: #ffffff;

//Footer Color
$submitForm1: #8490ff;
$submitForm2: #62bdfc;
$backgroundFooter: #05071C;
$titleFooter: #ffffff;

//Contact Color
$inputFormText: #c4c4c4;
$backgroundContact: #f7f7fd;
$contactIcons: #8490ff;

//About Color
$progressSkillBackground: #d8d8d8;
$progressSkillBorder: #e9e8e8;
$gradient1: #8490ff;
$gradient2: #62bdfc;

//Blog Color
$bannerText: #ffffff;
$buttonBlog: #ffffff;
$categoryColor: #ffffff;
$blogBackground: #f7f7fd;
$blogIcon: #222222;
$blogBorder : #dfdfdf;
$blogTitle: #222222;
$blogForm: #c7c6c6;