// Couleurs ISLWeb - Modifiable si nécessaire
$text: #777777;
$nav: #000000;
$title: #777777;
$titleFooter: #fff;
$link: #8490ff;
$bannerBg1: #8490ff;
$bannerBg2: #62bdfc;
$btn1: #8490ff;
$btn2: #62bdfc;
$background1: #f7f7fd;
$color3: #fff;
$title: #000000;
$underline: #c4c4c4;
$backgroundFooter: #05071C;

//Footer Color
$submitForm1: #8490ff;
$submitForm2: #62bdfc;